<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="creditProduct">
      <h2 data-cy="creditProductDetailsHeading"><span jhiTranslate="accpdesignerApp.creditProduct.detail.title">Credit Product</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ creditProduct.id }}</span>
        </dd>
        <dt><span jhiTranslate="accpdesignerApp.creditProduct.name">Name</span></dt>
        <dd>
          <span>{{ creditProduct.name }}</span>
        </dd>
        <dt><span jhiTranslate="accpdesignerApp.creditProduct.businessModels">Business Models</span></dt>
        <dd>
          <div *ngIf="creditProduct.businessModels">
            <a [routerLink]="['/business-model', creditProduct.businessModels.id, 'view']">{{ creditProduct.businessModels.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="accpdesignerApp.creditProduct.rules">Rules</span></dt>
        <dd>
          <div *ngIf="creditProduct.rules">
            <a [routerLink]="['/business-rule', creditProduct.rules.id, 'view']">{{ creditProduct.rules.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/credit-product', creditProduct.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
