<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="businessRule">
      <h2 data-cy="businessRuleDetailsHeading"><span jhiTranslate="accpdesignerApp.businessRule.detail.title">Business Rule</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ businessRule.id }}</span>
        </dd>
        <dt><span jhiTranslate="accpdesignerApp.businessRule.name">Name</span></dt>
        <dd>
          <span>{{ businessRule.name }}</span>
        </dd>
        <dt><span jhiTranslate="accpdesignerApp.businessRule.businessProcess">Business Process</span></dt>
        <dd>
          <span jhiTranslate="{{ 'accpdesignerApp.BusinessProcess.' + businessRule.businessProcess }}">{{
            businessRule.businessProcess
          }}</span>
        </dd>
        <dt><span jhiTranslate="accpdesignerApp.businessRule.conditions">Conditions</span></dt>
        <dd>
          <div *ngIf="businessRule.conditions">
            <a [routerLink]="['/business-rule-condition', businessRule.conditions.id, 'view']">{{ businessRule.conditions.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/business-rule', businessRule.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
