<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="creditProductInstance">
      <h2 data-cy="creditProductInstanceDetailsHeading">
        <span jhiTranslate="accpdesignerApp.creditProductInstance.detail.title">Credit Product Instance</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ creditProductInstance.id }}</span>
        </dd>
        <dt><span jhiTranslate="accpdesignerApp.creditProductInstance.name">Name</span></dt>
        <dd>
          <span>{{ creditProductInstance.name }}</span>
        </dd>
        <dt><span jhiTranslate="accpdesignerApp.creditProductInstance.simulations">Simulations</span></dt>
        <dd>
          <div *ngIf="creditProductInstance.simulations">
            <a [routerLink]="['/simulation', creditProductInstance.simulations.id, 'view']">{{ creditProductInstance.simulations.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/credit-product-instance', creditProductInstance.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
