<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-product-item-type-heading"
        data-cy="ProductItemTypeCreateUpdateHeading"
        jhiTranslate="myApp.productItemType.home.createOrEditLabel"
      >
        Create or edit a Product Item Type
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="myApp.productItemType.productItemCategory" for="field_productItemCategory"
            >Product Item Category</label
          >
          <select
            class="form-control"
            name="productItemCategory"
            formControlName="productItemCategory"
            id="field_productItemCategory"
            data-cy="productItemCategory"
          >
            <option [ngValue]="null">{{ 'myApp.ProductItemCategoryEnum.null' | translate }}</option>
            <option *ngFor="let productItemCategoryEnum of productItemCategoryEnumValues" [value]="productItemCategoryEnum">
              {{ 'myApp.ProductItemCategoryEnum.' + productItemCategoryEnum | translate }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="myApp.productItemType.typeName" for="field_typeName">Type Name</label>
          <input type="text" class="form-control" name="typeName" id="field_typeName" data-cy="typeName" formControlName="typeName" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="myApp.productItemType.stateEnum" for="field_stateEnum">State Enum</label>
          <select class="form-control" name="stateEnum" formControlName="stateEnum" id="field_stateEnum" data-cy="stateEnum">
            <option [ngValue]="null">{{ 'myApp.StateEnum.null' | translate }}</option>
            <option *ngFor="let stateEnum of stateEnumValues" [value]="stateEnum">{{ 'myApp.StateEnum.' + stateEnum | translate }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
