<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="eligibilityCondition">
      <h2 data-cy="eligibilityConditionDetailsHeading">
        <span jhiTranslate="myApp.eligibilityCondition.detail.title">Eligibility Condition</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ eligibilityCondition.id }}</span>
        </dd>
        <dt><span jhiTranslate="myApp.eligibilityCondition.applyLevelEnum">Apply Level Enum</span></dt>
        <dd>
          <span jhiTranslate="{{ 'myApp.ApplyLevelEnum.' + eligibilityCondition.applyLevelEnum }}">{{
            eligibilityCondition.applyLevelEnum
          }}</span>
        </dd>
        <dt><span jhiTranslate="myApp.eligibilityCondition.condition">Condition</span></dt>
        <dd>
          <div *ngIf="eligibilityCondition.condition">
            <a [routerLink]="['/condition', eligibilityCondition.condition.id, 'view']">{{ eligibilityCondition.condition.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="myApp.eligibilityCondition.itemFeature">Item Feature</span></dt>
        <dd>
          <div *ngIf="eligibilityCondition.itemFeature">
            <a [routerLink]="['/item-feature', eligibilityCondition.itemFeature.id, 'view']">{{ eligibilityCondition.itemFeature.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="myApp.eligibilityCondition.productRepositoryItem">Product Repository Item</span></dt>
        <dd>
          <div *ngIf="eligibilityCondition.productRepositoryItem">
            <a [routerLink]="['/product-repository-item', eligibilityCondition.productRepositoryItem.id, 'view']">{{
              eligibilityCondition.productRepositoryItem.id
            }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="myApp.eligibilityCondition.itemGroup">Item Group</span></dt>
        <dd>
          <div *ngIf="eligibilityCondition.itemGroup">
            <a [routerLink]="['/item-group', eligibilityCondition.itemGroup.id, 'view']">{{ eligibilityCondition.itemGroup.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/eligibility-condition', eligibilityCondition.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
