<div>
  <h2 id="page-heading" data-cy="BusinessRuleConditionHeading">
    <span jhiTranslate="accpdesignerApp.businessRuleCondition.home.title">Business Rule Conditions</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="accpdesignerApp.businessRuleCondition.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-business-rule-condition"
        [routerLink]="['/business-rule-condition/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="accpdesignerApp.businessRuleCondition.home.createLabel"> Create a new Business Rule Condition </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="businessRuleConditions?.length === 0">
    <span jhiTranslate="accpdesignerApp.businessRuleCondition.home.notFound">No Business Rule Conditions found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="businessRuleConditions && businessRuleConditions.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="field">
            <div class="d-flex">
              <span jhiTranslate="accpdesignerApp.businessRuleCondition.field">Field</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="value">
            <div class="d-flex">
              <span jhiTranslate="accpdesignerApp.businessRuleCondition.value">Value</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="operator">
            <div class="d-flex">
              <span jhiTranslate="accpdesignerApp.businessRuleCondition.operator">Operator</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let businessRuleCondition of businessRuleConditions; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/business-rule-condition', businessRuleCondition.id, 'view']">{{ businessRuleCondition.id }}</a>
          </td>
          <td>{{ businessRuleCondition.field }}</td>
          <td>{{ businessRuleCondition.value }}</td>
          <td jhiTranslate="{{ 'accpdesignerApp.OperatorEnum.' + businessRuleCondition.operator }}">
            {{ businessRuleCondition.operator }}
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/business-rule-condition', businessRuleCondition.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/business-rule-condition', businessRuleCondition.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(businessRuleCondition)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
