<div>
  <h2 id="page-heading" data-cy="ParameterDefTypeHeading">
    <span jhiTranslate="myApp.parameterDefType.home.title">Parameter Def Types</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="myApp.parameterDefType.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-parameter-def-type"
        [routerLink]="['/parameter-def-type/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="myApp.parameterDefType.home.createLabel"> Create a new Parameter Def Type </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="parameterDefTypes?.length === 0">
    <span jhiTranslate="myApp.parameterDefType.home.notFound">No Parameter Def Types found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="parameterDefTypes && parameterDefTypes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="fieldName">
            <div class="d-flex">
              <span jhiTranslate="myApp.parameterDefType.fieldName">Field Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="label">
            <div class="d-flex">
              <span jhiTranslate="myApp.parameterDefType.label">Label</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="parameterGroupEnum">
            <div class="d-flex">
              <span jhiTranslate="myApp.parameterDefType.parameterGroupEnum">Parameter Group Enum</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let parameterDefType of parameterDefTypes; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/parameter-def-type', parameterDefType.id, 'view']">{{ parameterDefType.id }}</a>
          </td>
          <td>{{ parameterDefType.fieldName }}</td>
          <td>{{ parameterDefType.label }}</td>
          <td jhiTranslate="{{ 'myApp.ParameterGroupEnum.' + parameterDefType.parameterGroupEnum }}">
            {{ parameterDefType.parameterGroupEnum }}
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/parameter-def-type', parameterDefType.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/parameter-def-type', parameterDefType.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(parameterDefType)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
